<template>
 <div id="date-window">
   <p id="date-window-text">SELECT DATE RANGE</p>
  <date-picker type="datetime" v-model="dateWindow" :width="200" @change="onChangeDate" :lang="lang"  :not-after="end" :not-before="start" range :shortcuts="false" confirm></date-picker>
 </div>
</template>

<script>
import DatePicker from 'vue2-datepicker';

export default {
  components: { DatePicker },
  props: {
    start: {
      type: Number,
    },
    end: {
      type: Number,
    },
  },
  data() {
    return {
      lang: 'en',
      dateWindow: [this.start, this.end],
    };
  },
  methods: {
    onChangeDate(newDate) {
      const start = new Date(newDate[0]).getTime();
      const end = new Date(newDate[1]).getTime();
      this.$emit('selectedDates', { start, end });
    },
  },
};
</script>

<style scoped>
#date-window {
  margin: 0 auto;
  text-align: center;
}
</style>
