<template>
  <div id="app">
    <h2 class="titles">CAPACITY OFFLOAD</h2>
    <br>
    <BandwidthChart v-if="bandwidthData" :data="bandwidthData" />
    <br>
    <h2 class="titles">CONCURRENT VIEWERS</h2>
    <br>
    <AudienceChart v-if="audienceData" :data="audienceData" />
    <br>
    <br>
    <SelectDateWindow :start="start" :end="end" @selectedDates="updateGraphs" />
  </div>
</template>

<script>
import BandwidthChart from './components/BandwidthChartComponent.vue';
import AudienceChart from './components/AudienceChartComponent.vue';
import SelectDateWindow from './components/SelectDateWindowComponent.vue';

import API from './api/requests';

export default {
  name: 'app',
  components: {
    BandwidthChart,
    AudienceChart,
    SelectDateWindow,
  },
  data: () => ({
    bandwidthData: null,
    audienceData: null,
    end: '',
    start: '',
    fifteenDaysInMilli: 1296000000,
  }),
  async created() {
    this.end = new Date().getTime();
    this.start = this.end - this.fifteenDaysInMilli;
    try {
      await API.auth();
      await this.getData(this.start, this.end);
    } catch (e) {
      console.error('Error in auth.');
    }
  },
  methods: {
    updateGraphs(dates) {
      this.getData(dates.start, dates.end);
    },
    async getData(startDate, endDate) {
      try {
        this.bandwidthData = await API.getBandwidthData(startDate, endDate);
        this.audienceData = await API.getAudienceData(startDate, endDate);
      } catch (e) {
        console.error('Error fetching data from server.');
      }
    },
  },
};
</script>

<style>
#app {
  font-family: "Montserrat", "Roboto", Arial;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #747c93;
  margin-top: 20px;
  margin: 0 auto;
}

.titles {
  font-size: 17px;
}
</style>
